* text=auto

*.css text eol=lf
*.csv text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.robot text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf

*.jpg binary
*.png binary
*.xlsx binary
